<!DOCTYPE html>
<html>
    <head>
        <title>딩굴 전체 커뮤니티</title>
    </head>
    
            
    <body>
    <div class="board_body">
      <div class="all_board">
      <p id="p1">전체 커뮤니티</p>
      <a id="p2" href="" class=""> 글쓰기 </a>
      <hr>
      
   
      <nav class="navbar navbar-default">
       
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="">메인</a></li>
            <li class="active"><a href="">게시판</a></li>
          </ul>
      
          <li><a href="">로그인</a></li>
          <li><a href="">회원가입</a></li>

        </div>
      </nav>
      <div class="container">
        <div class="row">
          <table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
            <thead>
              <tr>
                <th style="background-color: #eeeeee; text-align: center;">번호</th>
                <th style="background-color: #eeeeee; text-align: center;">제목</th>
                <th style="background-color: #eeeeee; text-align: center;">작성자</th>
                <th style="background-color: #eeeeee; text-align: center;">작성일</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>안녕하세요</td>
                <td>홍길동</td>
                <td>2017-05-04</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
      <br>
      <!--다음 페이지 넘김번호 -->
      <nav aria-label="Page navigation example" style="margin-left: 40%;margin-right: 40%;">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
     
     

    </div>
    
     
   
    </div>
    
   
    <div class="foot">
      <br>
      <p >이용약관 | 개인정보 처리방침 |@DING_GUL<br>디지털 콘텐츠 학과</p>
    </div>

  </body>
</html>