<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="text_user">
    <h2>글 내용 수정</h2><br><br>
        <div>
            <label>제목</label>
            <span id="title" th:text="${board.subject}"></span>
        </div><br><br>
    <form th:action th:object="${boardModifyForm}" method="post">
        <div role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        <div>
            <label>내용</label><br><br>
            <textarea id="content" name="content" th:field="*{content}"  rows ="10" cols="50"wrap ="virtual" th:text="${board.content}" th:value="${board.content}"></textarea>
        </div>
        <input type="submit" value="수정완료">
        <input type="hidden" name="${ _csrf.parameterName }" value="${ _csrf.token }">
    </form>
    </div>
</th:block>



</body>
</html>