<!DOCTYPE html>
<html class="login_html">
    <head>
        <meta charset="utf-8">
        <title>딩굴 로그인 페이지</title>
        <link href="../css/main.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        
        <script>

          function back(){

              document.getElementById("floatingInput").focus();
              alert("로그인후 이용 가능합니다.")

          }

        </script>
            
    </head>


    <body class="login_body">

        <div class="login_login">
             
          <!--로그인후 로그인창 부분 --추가함-->
       
          <!--
            <div class="login_next">   
              <img id="login_next_img" src="../homepage/image/main_text.png" width="205px" height="130px">
              <h5> xxx님 환영합니다.</h5>
              <h4>로그인 되었습니다.</h4>
           
            </div>
              --> 
            <form>

                <div class="form-floating" style="margin-bottom: 1%;">
                  <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput" >ID</label>
                </div>

                <div class="form-floating">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
            
                <div class="checkbox mb-3"></div>

                <button class="w-100 btn btn-lg btn-primary" type="submit" style="background-color: rgb(168, 168, 168);border: gray;">Sign in</button>
                
            </form>
            
        </div> 
         
        <div class="login_side"><!-- 온클릭 추가했음 /높이수정-->
            <a id="side" href="#"><img id="login_img" src="../homepage/image/board.png"width="90%"height="15%" onclick="back()"></a>
            <a id="side" href="#"><img id="login_img" src="../homepage/image/home.png"width="90%"height="13%" onclick="back()"></a>
            <a id="side" href="#"><img id="login_img" src="../homepage/image/project.png"width="90%"height="15%" onclick="back()" ></a>
            
        </div>

    </body>
</html>